html 
    head 
        meta(charset="utf-8")
        meta(name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no")

        link(rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous")
        title CASA
        title= titulo

    body
    <br/>
    <br/>
        div(class="container")
        div(align ="center")
           h1 CASA DOMÓTICA
    
           <br/>
           div(class="container")
           a(href="onSala" class="btn btn-primary " ) Encender Luz Sala
           a(href="offSala" class="btn btn-primary " ) Apagar Luz Sala

             div(class="container")
           a(href="onTele" class="btn btn-outline-secondary" ) Encender 
           a(href="offTele" class="btn btn-outline-secondary") Apagar 

             <br />
            <hr />

              div(class="container")
           a(href="intensidad1" class="btn btn-outline-secondary" ) Encender 
           a(href="intensidad2" class="btn btn-outline-secondary" ) Encender
           a(href="intensidad3" class="btn btn-outline-secondary" ) Encender
           a(href="intensidad4" class="btn btn-outline-secondary" ) Encender
           a(href="intensidad5" class="btn btn-outline-secondary" ) Apagar

             <br />
            <hr />

             div(class="container")
           
           a(href="cortina1-1" class="btn btn-outline-secondary" ) Encender
           a(href="cortina1-2" class="btn btn-outline-secondary" ) Encender
           a(href="cortina1-3" class="btn btn-outline-secondary" ) Encender
           a(href="cortina2-4" class="btn btn-outline-secondary" ) Encender
           a(href="cortina2-5" class="btn btn-outline-secondary" ) Encender
           a(href="cortina2-6" class="btn btn-outline-secondary" ) Encender
           a(href="cortina2-7" class="btn btn-outline-secondary" ) Encender
           a(href="cortina2-8" class="btn btn-outline-secondary" ) Encender
           a(href="cortina2-9" class="btn btn-outline-secondary" ) Encender
           a(href="cortina2-0" class="btn btn-outline-secondary" ) Apagar

             <br />
            <hr />

             div(class="container")
           a(href="PortonAbierto"  class="btn btn-outline-secondary" ) Encender 
           a(href="PortonMedioAbierto"  class="btn btn-outline-secondary" ) Encender 
           a(href="PortonCerrado" class="btn btn-outline-secondary") Apagar 

             <br />
            <hr />
