html 
    head
        meta(charset="utf-8")
        title pagina de vista
    body
        center
            h1(class="btn secundary") ESTADO DE LA CASA
            h4  #{mensaje}

    meta(HTTP-EQUIV="REFRESH" CONTENT="2;URL= http://localhost:3000") 